<html>
<head>
	<title>CSV mapper</title>
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link rel="stylesheet" href="resources/leaflet-0.6.4/leaflet.css" />
	<style type="text/css">
		body #fieldModal {
		    /* new custom width */
		    width: 50%;
		    /* must be half of the width, minus scrollbar on the left (30px) */
		    margin-left: -25%;
		}
		.legend {
		    line-height: 18px;
		    color: #555;
		    background: #FFF;
		    padding: 5px;
		    border-radius: 5px;
		    box-shadow: 0 0 15px;
		}
		.legend i {
		    width: 18px;
		    height: 18px;
		    float: left;
		    margin-right: 8px;
		    opacity: 0.7;
		}
	</style>
 </head>
 <body>
 	<!-- the map -->
 	<div>
	 	<div id="map" style="height: 300px;"></div>

	 	<!--the csv -->
	 	<input type="file" name="filename" id="filename"/>

	 	<!-- Button trigger modal -->
		<a data-toggle="modal" href="#fieldModal" id="refineCsvId" class="btn btn-primary btn-lg" style="display:none">Refine CSV</a>

	 	<!--the csv table -->

	 	<table><tr>
	 		<td>
	 			<div id="csvimporthint" style="width: 1000px; overflow: scroll;"></div>
	 		</td><td style="vertical-align: top;">
	 			<div id="columnPickerId"></div>
	 		</td>
	 	</tr></table>
 	</div>
 
 	<!--the modal body template  -->
 	<script type="text/template" id="latlng_selection_template">
	    <div id="latlngSeparatorDiv" class="input-append">
	    	<label class="control-label">Enter the separator</label>
	    	<input type="text" placeholder="Comma if your csv has Lat,Lng" id="latlngSeparatorId" class="span4"></input>
	    	<span class="btn insertComma">,</span>
	    	<span class="btn insertSpace">[SPACE]</span>
	    	<span class="btn insertAt">@</span>
	    	<hr>
	    </div>

	    <h5>Pick the column(s)</h5>
	    
			<div id="latitudeDropdownDiv">
			<table><tr><td>
				<label id="defaultDropdownLabel">Select the Geo-location column</label>
			</td><td>
				<select id="latDropdown">
					<% _.each(fields, function (field, index) { %>
						<option value=<%=index%> ><%= field%></option>
					<% }); %>
				</select>
			</td></tr></table>
			</div>
		
			<div id="longitudeDropdownDiv" style="display:none">
			<table><tr><td>
				<label id="defaultDropdownLabel">Select Longitude</label>
			</td><td>
				<select id="longDropdown">
					<% _.each(fields, function (field, index) { %>
						<option value=<%=index%> ><%= field%></option>
					<% }); %>
				</select>
			</td></tr></table>
			</div>

    </script>

    <!--the incomplete selection alert template  -->
    <script type="text/template" id="incompleteSelection_templateId">
    	<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <strong>Error!</strong> Please make the required selections.
		</div>
    </script>

    <!--the column selection template  -->
    <script type="text/template" id="columnPicker_templateId">
    	<h5>Pick the column(s) to show on the left, max 6 at a time</h5>

    	<% var index = 0; while( columnCount > 0 ) { %>
	    	<div>
				<table><tr><td>
					<label>Select Column <%= index+1%></label>
				</td><td>
					<select class="colSelectDropdown" index=<%= index%>>
						<% _.each(fields, function (field, field_index) { %>
							<option value=<%=field_index%> ><%= field%></option>
						<% }); %>
					</select>
				</td></tr></table>
			</div>
		<% index++; columnCount--; } %>
		<!-- Button trigger modal -->
		<a id="resetColumnSelectionId" class="btn btn-primary btn-lg">Reset</a>
    </script>

	<!-- Modal to refine the uploaded CSV -->
	<div class="modal fade" id="fieldModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">

		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          <h4 class="modal-title">Latitude and Longitude</h4>
		        </div>
		        <div class="modal-body">
		          
		          	<!-- Radio buttons - single or multi col lat lng -->
		          	<label class="control-label">Pick the geo-locations column</label>
		        	<label class="radio">
					  <input type="radio" name="latlngRadios" id="latlngRadio1" value="single" checked>
					  Your csv has Latitude and Longitude in a single column, pick it and enter the separator as well
					</label>
					<label class="radio">
					  <input type="radio" name="latlngRadios" id="latlngRadio2" value="multiple">
					  Your csv has Latitude and Longitude in different columns, pick them
					</label>
					<hr>
					<div id="dynamicModalBodyId"></div>
		        </div>
		        <div class="modal-footer">
		        	<div id="modalFooterAlertId"></div>
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		          <button id="saveLatLng" type="button" class="btn btn-primary">Save changes</button>
		        </div>

	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal to show the progress bar while uploading -->
	<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">

		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          <h4 class="modal-title">Uploading...</h4>
		        </div>
		        <div class="modal-body">
		        	<div class="progress">
					  <div class="bar bar-success" style="width: 0%;"></div>
					</div>
		        </div>
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!--the scripts -->
    <script src="resources/js/jquery-1.10.2.js"></script>
    <script src="resources/js/underscore.js"></script>
    <script src="resources/js/bootstrap.js"></script>
    <script src="resources/leaflet-0.6.4/leaflet.js"></script>
    <script src="resources/js/leaflet.geocsv.js"></script>
    <script src="resources/js/dv.js"></script>
 	<script src="resources/js/csvmapper.js"></script>
 </body>
</html>